html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0d1117;
}

.navbar-color {
    background-color: #161b22 !important;
}

td, th {
    color: white;
}

.text-color{
    color: white !important;
}

p {
    font-size: 20px;
}

select, input, option {
    color: white !important;
    background-color: #161b22 !important;
    border-color: #808080 !important;
}

.text-positive {
    color: #0ca73d;
}

.text-negative {
    color: #ff0000;
}

.text-neutral {
    color: dimgray
}

label {
    color: white;
}