@page
@using System.ComponentModel
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Energy Saver</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                @foreach (var property in Model.GetType().GetProperty("Records").PropertyType.GetProperties())
                {
                    <th>@((property.GetCustomAttributes(typeof(DisplayNameAttribute), true).FirstOrDefault() as DisplayNameAttribute).DisplayName)</th>
                }
            </tr>
        </thead>
    </table>
</div>
<!--Atskirai padaryti dujoms, elektrai, vanduo (siltas, saltas), sildymas-->