@page
@model Energy_Saver.Pages.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-color">Statistics</h1>
<div><canvas id="lineChart"></canvas></div>

@section Scripts {
    <script src="~/lib/chart.js/dist/Chart.js"></script>
    <script>
        @Html.Raw(Model.Chart.CreateChartCode("lineChart"))
    </script>
}
